@page
@model aspnetcoreapp.Pages.Clubs.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ClubEntity</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ClubEntity.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ClubEntity.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ClubEntity.League)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ClubEntity.League)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.ClubEntity.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
